// * ----
// * FONT
// * ----

@font-face {
  font-family: "manrope";
  src: url(../../assets/font/manrope/Manrope-VariableFont_wght.ttf);
}

$mainFont: "manrope";

// -------------------------------------------------------------------------

// * ------
// * COLORS
// * ------

$darkGraydishBlue: #48556a;
$GraydishBlue: #6e8098;
$lightGrey: #ecf2f8;
$grey: #9daec2;
$white: #fefefe;

// -------------------------------------------------------------------------

// * ------
// * MIXINS
// * ------

@mixin centerHorizontal {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin centerVertical {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@mixin mobileText {
  // todo : text of presentation
  h1 {
    color: $darkGraydishBlue;
    font-size: 16px;
    font-weight: 700;
    line-height: 150%;
  }

  p {
    color: $GraydishBlue;
    font-size: 13px;
    line-height: 154%;
  }

  // todo : text of user
  #name {
    color: $darkGraydishBlue;
    font-size: 13px;
    font-weight: 700;
  }

  #birthday {
    color: $grey;
    font-size: 13px;
  }
}
