.user {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 32px 20px;

  &__infos {
    @include centerHorizontal;
    gap: 16px;

    &__avatar {
      width: 40px;

      img {
        width: 100%;
        border-radius: 100px;
      }
    }

    &__ND {
      span {
        display: block;
      }
    }
  }
}
